.profile-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.choosing {
  background-color: rebeccapurple;
}

#judge-waiting,
#player-choosing,
#card-list {
  display: none;
}

.loser {
  background-color: gray;
}

.winner {
  background-color: yellow;
}

#next-roound {
  display: none;
}

.picture-card {
  width: auto;
  height: 50%;
}
