#list{
  margin-left: 2em;
  font-size: 30px;
  font-style: bold; 

}

#start{
  border-radius: 50px;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}
#start:hover{
  opacity: 0.8;
}