.profile-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

#judge-waiting,
#player-choosing {
  display: none;
  flex-direction: column;
}

#card-list {
  flex-direction: row;
  display: flex;
  align-items: stretch;
  font-size: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  width: 80%;
}

img.check {
  width: 4rem;
}

td {
  padding: 0.5rem;
}

.loser {
  background-color: rgb(255, 0, 0);
  text-align: center;
  position: absolute;
  bottom: 1rem;
}

.winner {
  background-color: rgb(0, 255, 157);
  text-align: center;
  position: absolute;
  bottom: 1rem;
}

#next-roound {
  display: none;
}

.picture-card {
  width: auto;
  height: 10rem;
}

#round {
  margin-left: 1em;
  font-size: 50px;
  color: white;
  font-family: "Exo", sans-serif;
  font-weight: bold;
}

.detail {
  margin-left: 3em;
  font-weight: bold;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 20px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #4973ff;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: auto; /* Could be more or less, depending on screen size */
}

#container {
  background-color: white;
}

button {
  margin-left: 1em;
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: -webkit-fill-available;
  max-width: 200px;
  font-size: 15px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
}

button:hover {
  background-color: rgb(95, 211, 95);
  color: black;
}

#skip-button,
#ready {
  background-color: #000000;
}

#skip-button:hover {
  background-color: rgb(95, 211, 95);
}

#ready:hover {
  background-color: rgb(95, 211, 95);
}

#white-card-option-1,
#white-card-option-2,
#white-card-option-3 {
  display: flex;
  align-items: flex-start;
  font-size: large;
  text-align: center;
}

#white-card-option-1-scroll,
#white-card-option-2-scroll,
#white-card-option-3-scroll {
  display: flex;
  align-items: stretch;
  font-size: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  width: 80%;
}

.white-card-preview {
  background-color: white;
  border-radius: 5px;
  color: black;
  margin: 0.8em;
  width: 13rem;
  height: 15rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  position: relative;
}

.white-card-preview > button {
  margin-left: 1rem;
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: -webkit-fill-available;
  max-width: 200px;
  font-size: 15px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
}

.white-card-preview > button:hover {
  background-color: rgb(95, 211, 95);
}

.black-card {
  background-color: black;
  border-radius: 5px;
  color: white;
  margin: 0.8em;
  width: 13rem;
  height: 15rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  position: relative;
}

.black-card > button {
  margin-left: 1rem;
  background-color: white;
  color: black;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: -webkit-fill-available;
  max-width: 200px;
  font-size: 15px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
}

.black-card > button:hover {
  background-color: rgb(95, 211, 95);
  color: black;
}

.white-card {
  background-color: white;
  border-radius: 5px;
  color: black;
  margin: 0.8em;
  width: 18rem;
  height: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  position: relative;
}

.white-card > button {
  margin-left: 1rem;
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: -webkit-fill-available;
  max-width: 200px;
  font-size: 15px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
}

.white-card > button:hover {
  background-color: rgb(95, 211, 95);
  color: white;
}

.white-card-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.black-card-align {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.choosing {
  background-color: #a1a1a1;
}

#timer-1 {
  justify-content: flex-end;
  margin-right: 2em;
  font-size: 20px;
  font-weight: bold;
}

#black-card-add {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.players {
  display: flex;
  justify-content: flex-start;
  margin-left: 1em;
  font-family: "Exo", sans-serif;
  font-size: 1.5rem;
}

#next-round {
  font-size: 1.5rem;
}

#judge-waiting-p {
  font-size: 1.5rem;
}

#player-waiting {
  font-size: 1.5rem;
  width: auto;
  height: auto;
}

#result-player-list {
  padding: 5rem;
  border-collapse: collapse;
  text-align: center;
}

#result-player-list tr td {
  padding: 0.5rem;
}

#result-player-list tr:nth-child(3) td:nth-child(2) {
  color: gold;
}

#result-player-list tr:nth-child(4) td:nth-child(2) {
  color: silver;
}

#result-player-list tr:nth-child(5) td:nth-child(2) {
  color: brown;
}

#picture-card-5,
#picture-card-10,
#picture-card-15 {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

#blank {
  height: 1.5rem;
}

#black-with-player {
  display: flex;
}

@media all and (orientation: portrait) {
  .black-card > div {
    font-size: xx-large;
  }

  #judge-choosing-black-card {
    width: 100%;
    text-align: center;
  }

  #header-round {
    flex-direction: row;
  }

  #black-with-player {
    flex-direction: column;
    width: 100%;
  }

  #card-list {
    flex-direction: column;
    width: 100%;
  }

  #judge-waiting-p {
    font-size: 2rem;
  }

  #next-round {
    font-size: 2rem;
    width: auto;
    flex-wrap: wrap;
  }

  #timer-1 {
    justify-content: flex-end;
    margin-right: 1.5em;
    font-size: 3rem;
    font-weight: bold;
  }
  #blank {
    height: 3rem;
    width: 5rem;
  }

  .picture-card {
    width: 20rem;
    height: 10rem;
  }

  .black-card {
    background-color: black;
    border-radius: 5px;
    color: white;
    margin: 0.8em;
    padding: 1em;
    width: auto;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .white-card {
    background-color: white;
    border-radius: 5px;
    color: black;
    margin: 0.8em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: auto;
    font-size: larger;
    position: relative;
  }

  .white-card-preview {
    background-color: white;
    border-radius: 5px;
    color: black;
    margin: 0.8em;
    padding: 1em;
    width: auto;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .black-card > button {
    margin-left: 1em;
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    width: -webkit-fill-available;
    font-size: xx-large;
    font-family: "Exo", sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
  }

  .white-card > button {
    margin-left: 1em;
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    width: 80%;
    max-width: 200px;
    font-size: xx-large;
    font-family: "Exo", sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
  }

  .white-card-preview > button {
    margin-left: 1em;
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    width: 80%;
    max-width: 200px;
    font-size: xx-large;
    font-family: "Exo", sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
  }

  .white-card-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
  }

  .black-card-align {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 3rem;
  }

  #round {
    margin-left: 1em;
    font-size: 1.5em;
    color: white;
    font-family: "Exo", sans-serif;
    font-weight: bold;
  }

  .players {
    display: flex;
    justify-content: flex-start;
    margin-left: 1em;
    font-family: "Exo", sans-serif;
    font-size: 3rem;
  }

  #black-card-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 20rem;
    justify-content: center;
  }

  #blank-input {
    text-align: center;
    font-size: x-large;
  }

  input[type="text"] {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  #result-player-list {
    padding: 5rem;
    border-collapse: collapse;
    text-align: center;
  }

  #skip-button,
  #ready {
    width: 25%;
  }

  button {
    margin-left: 1em;
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    width: 80%;
    width: 200px;
    font-size: xx-large;
    font-family: "Exo", sans-serif;
    font-weight: bold;
    display: inline-block;
    text-align: center;
  }

  button:hover {
    background-color: rgb(95, 211, 95);
    color: black;
  }
  #player-waiting {
    font-size: 3rem;
    width: auto;
    height: auto;
  }
}

td {
  text-align: center;
}
